<ion-content id="gradeListView" class="contentAnimation1" has-bouncing="true" style="padding:17px 0px 0px 0px;" >
	     <ion-scroll  style="height:100%;background-color: white;"  has-bouncing="true" >
         		  <ion-refresher
				    pulling-text="Puxe para atualizar!"
				    pulling-icon="ion-arrow-down-c"
				    spinner="android"
				    on-refresh="fetch(true);">
				  </ion-refresher>
		        <div class="slideUp1">
	      <md-list >
			  <md-content>
			  		<div ng-if="errorMessage">
				  		<md-subheader class="boldCondensed noPM" style="font-size: 16px; background: #FE5959;width: 100%;right:0px;">
		    				 <md-list-item class="md-3-line noPM">
			           			<div class="md-avatar" style="background: white;">
									  	<i class="icon ion-wifi"  style="font-size:25px;position: relative;top: 7px;left: 9px;color:#FE5959"></i>
						        </div>
						        <div class="md-list-item-text">
	                              <h3 class="row noPM" style="line-height: initial;margin: 0px" >
	                              		<div class="boldCondensed" style="width: 85%;line-height: initial;">
	                              			{{errorMessage.title}}
	                              		</div>
	                          	  </h3>
	                          	  <h3 class="row noPM" style="line-height: initial;margin: 0px" >
	                        	  	<p style="line-height: initial;margin: 0px">
									 	{{errorMessage.description}}
								 	</p>
								  </h3>
	                          	  <h3 class="row noPM" style="line-height: initial;margin: 0px" >
	                         	  	<p style="color:white;" style="line-height: initial;margin: 0px">
									 	Ultima atualização: <span class="boldCondensed">{{errorMessage.lastUpdateDate | date:'dd/MM/yyyy HH:mm:ss'}}</span>
							 		</p>
								  </h3>
								  </div>
							  </md-list-item>
			    		</md-subheader>
			  		</div>
			  		 <div ng-if="dto.data == null && isFetching == false" style="margin-top: 30%;margin-bottom: 20%;text-align: center;">
						<div class="ion-university" style="font-size: 100px;"></div>
						<div style="font-size: 20px;">Nenhuma nota!</div>
					 </div>
	    			<md-list>
					    <md-list-item ng-style="{ 'background' : ($index % 2 == 1 ? 'rgba(245, 245, 220, 0.3)':'white')}" class="md-3-line" ng-repeat="nota in dto.data track by $index">
		           			<div class="md-avatar" style="background: rgb(232, 232, 232)">
								  	<i class="icon"  style="font-size:25px;position: relative;top: 7px;left: -5px;"
								  	   ng-class="{'reprovedSymbol ion-android-close' : nota.media < 3 || nota.mediaFinal < 5, 
								  			'aprovedSymbol ion-android-done-all' : nota.media >= 7, 
								  			'aprovedFinalSymbol ion-android-done' : nota.mediaFinal >= 5, 
								  			'waitingSymbol ion-android-time' : nota.media == null }"
								  	></i>
					        </div>
					        <div class="md-list-item-text">
                              <h3 class="row noPM" style="width: 100%;" >
                              			<h3  class="boldCondensed" style="line-height: initial;color:rgb(11, 101, 102);font-size: 18px !important;">
							            	{{nota.cadeira}}
							            </h3>
                          	  </h3>
                          	  <h4 class="row noPM" style="color: black;text-align: left;line-height: initial;" >
									  <div class="col" style="padding: 0;margin: 0;"><p>Nota 1 </p></div>
									  <div class="col" style="padding: 0;margin: 0;"><p>Nota 2</p></div>
									  <div class="col" style="padding: 0;margin: 0;"><p>Media</p></div>
									  <div class="col" ng-if="nota.media <= 5 && nota.media >=3" style="padding: 0;margin: 0;"><p>Final</p></div>
									  <div class="col" ng-if="nota.media <= 5 && nota.media >=3" style="padding: 0;margin: 0;"><p>Media Final</p></div>
							  </h4>
					          <div class="row noPM" style="font-size: 17px;text-align: left;" >
						 			 <div class="col" >
						  	  <span class="green">
						  	  	{{nota.nota1 == null && nota.nota1SegundaChamada == null ?  '-' : '' }}
						  	  </span>
							  <span ng-class="{red : nota.nota1 < 5, 
							  				   green : nota.nota1 >= 7, 
							  				   yellow : nota.nota1 >=5 && nota.nota1 < 7}" >{{nota.nota1}}</span>
							  				   
							  <span ng-if="nota.nota1SegundaChamada <= 10" 
							  		ng-class="{red : nota.nota1SegundaChamada < 5,
							  				   green : nota.nota1SegundaChamada >= 7, 
							  				   yellow : nota.nota1SegundaChamada >=5 && nota.nota1SegundaChamada < 7}">{{nota.nota1SegundaChamada + '*'}}</span>
							  
						  </div>
						  <div class="col">
						  	  <span class="green">
						  	  	{{nota.nota2 == null && nota.nota2SegundaChamada == null ?  '-' : '' }}
						  	  </span>
						      <span ng-class="{red : nota.nota2 < 5, 
						      				   green : nota.nota2 >= 7,
						      				   yellow : nota.nota2 >=5 && nota.nota2 < 7}" >{{nota.nota2}}</span>
						      				   
							  <span ng-if="nota.nota2SegundaChamada <= 10 " 
							  		ng-class="{red : nota.nota2SegundaChamada < 5, 
							  				   green : nota.nota2SegundaChamada >= 7, 
							  				   yellow : nota.nota2SegundaChamada >=5 && nota.nota2SegundaChamada < 7}">{{nota.nota2SegundaChamada + '*'}}</span>
				  		  </div>
						  <div  class="col">
						  	 <span class="green">
						  	  	{{nota.media == null ?  '-' : '' }}
						  	  </span>
						  	 <span ng-class="{red : nota.media < 5, 
						  	 				  green : nota.media >= 7, 
						  	 				  yellow : nota.media >=5 && nota.media < 7}">{{nota.media}}</span>
						  	 				  
					  	 </div  >
						  <div ng-if="nota.media <= 5 && nota.media >= 3 "  class="col">
						  		<span class="green">
						  	  		{{nota.media >=3 && nota.notaFinal == null ?  '-' : '' }}
						  	    </span>
						  		<span ng-class="{red : nota.notaFinal < 5, 
						  						 green : nota.notaFinal >= 7, 
						  						 yellow : nota.notaFinal >=5 && nota.notaFinal < 7}">{{nota.notaFinal}}</span>
						  						 
						  		<span ng-if="nota.notaFinalSegundaChamada <= 10 "
						  			  ng-class="{red : nota.notaFinalSegundaChamada < 5, 
						  			  			 green : nota.notaFinalSegundaChamada >= 7, 
						  			  			 yellow : nota.notaFinalSegundaChamada >=5 && nota.notaFinalSegundaChamada < 7}">{{nota.notaFinalSegundaChamada + '*'}}</span>
					  	  </div>
						  <div ng-if="nota.media <= 5 && nota.media >= 3 " class="col">
						    <span class="green">
						  	  		{{nota.media >=3 && nota.notaFinal == null ?  '-' : '' }}
						    </span>
						  	<span ng-class="{red : nota.mediaFinal < 5, 
						  					 green : nota.mediaFinal >= 7, 
						  					 yellow : nota.mediaFinal >=5 && nota.mediaFinal < 7}">{{nota.mediaFinal}}</span>
						  </div>
					</div>	
					        </div>
					        <md-divider ></md-divider>
					      </md-list-item>
			   	 	</md-list>
			  </md-content>
 		  </md-content>
	    </md-list>
				</div>
	    </ion-scroll>
	  <br/>
 </ion-content>