<ion-view title="Aulas" class="noPM" style="transform: translate3d(0em,0em,0em) !important;">
	<!-- RIGHT BUTTONS -->
	<ion-nav-buttons side="right" > 
		<notificationnavbariconcomponent></notificationnavbariconcomponent>
	</ion-nav-buttons>
	<!-- SUBHEADER -->
	<ion-header-bar  id="subHeader1" class="noPM subHeaderAnimationCondition" no-tap-scroll="true" style="transform: translate3d(0em,0em,0em);border:none;height:36px;" >
	       <tab-slide-box tab="{{initialSlide}}" class="noPM"  >
			    	<div id="tsbIcons" class="tsb-icons backgroundInstitution1"  >
			    		<div class="tsb-ic-wrp backgroundInstitution1 shadowed" >
							<ion-scroll  direction="x" class="tsb-hscroll">
								<md-button  class="boldCondensed noRadius tabbedItemW " >Segunda</md-button>
								<md-button  class="boldCondensed noRadius tabbedItemW"  >Terça</md-button>
								<md-button  class="boldCondensed noRadius tabbedItemW"  >Quarta </md-button>
								<md-button  class="boldCondensed noRadius tabbedItemW"  >Quinta</md-button>
								<md-button  class="boldCondensed noRadius tabbedItemW"  >Sexta</md-button>
								<md-button  class="boldCondensed noRadius tabbedItemW"  >Sábado</md-button>
								<md-button  class="boldCondensed noRadius tabbedItemW"  >Domingo</md-button>
							</ion-scroll>
						</div>
			    	</div>
          	</tab-slide-box>	
	</ion-header-bar>
	<!-- CONTENT -->
	<ion-content id="contentAnimation" class="contentAnimation noPM tabsdemoStaticTabs" style="z-index:0;transform: translate3d(0em,0em,0em);" scroll="false" >
		<div ng-if="errorMessage">
	  		<div class="boldCondensed" style="font-size: 16px; background: #FE5959;width: 100%;right:0px;">
   				 <md-list-item class="md-3-line">
           			<div class="md-avatar" style="background: white;">
						  	<i class="icon ion-wifi"  style="font-size:25px;position: relative;top: 7px;left: 9px;color:#FE5959"></i>
			        </div>
			        <div class="md-list-item-text">
                            <h3 class="row noPM" style="line-height: initial;margin: 0px" >
                           		<div class="boldCondensed" style="width: 85%;line-height: initial;">
                           			{{errorMessage.title}}
                           		</div>
                        	  </h3>
                        	  <h3 class="row noPM" style="line-height: initial;margin: 0px" >
                      	  	<p style="line-height: initial;margin: 0px">
						 	{{errorMessage.description}}
					 	</p>
					  </h3>
	                  <h3 class="row noPM" style="line-height: initial;margin: 0px" >
                     	<p style="color:white;" style="line-height: initial;margin: 0px">
				 			Ultima atualização: <span class="boldCondensed">{{errorMessage.lastUpdateDate | date:'dd/MM/yyyy HH:mm:ss'}}</span>
		 				</p>
					  </h3>
					  </div>
				  </md-list-item>
    		</div>
  		</div>
  		<ion-scroll ng-if="dto.data == null" style="height:100%;"  has-bouncing="true" class="padding">
			<div  style="margin-top: 20%;margin-bottom: 20%;text-align: center;">
				<div class="ion-calendar" style="font-size: 100px;"></div>
				<div style="font-size: 20px;">Nenhum horário!</div>
		    </div>
		</ion-scroll>
        <ion-slide-box  show-pager="false" on-slide-changed="slideHasChanged($index)" style="background: white;width:100%;" ng-style="{'padding-top' : dto.isUpdated == true }">
            <slideschedulecomponent schedule='dto.data.segunda' fecth-method="fetch(param)" ng-if="dto.data.segunda"></slideschedulecomponent>
            <slideschedulecomponent schedule='dto.data.terca' fecth-method="fetch(param)" ng-if="dto.data.terca"></slideschedulecomponent>
            <slideschedulecomponent schedule='dto.data.quarta' fecth-method="fetch(param)" ng-if="dto.data.quarta"></slideschedulecomponent>
            <slideschedulecomponent schedule='dto.data.quinta' fecth-method="fetch(param)" ng-if="dto.data.quinta"></slideschedulecomponent>
            <slideschedulecomponent schedule='dto.data.sexta' fecth-method="fetch(param)" ng-if="dto.data.sexta"></slideschedulecomponent>
            <slideschedulecomponent schedule='dto.data.sabado' fecth-method="fetch(param)" ng-if="dto.data.sabado"></slideschedulecomponent>
            <slideschedulecomponent schedule='dto.data.sabado' fecth-method="fetch(param)" ng-if="dto.data.sabado"></slideschedulecomponent>
        </ion-slide-box>
	</ion-content>
	
</ion-view>
