<ion-view id="controleDeFaltaView" class="contentAnimation" title="Controle de Faltas" style="background: #f1f1f1;">
  <ion-nav-buttons side="right" > 
		<notificationnavbariconcomponent></notificationnavbariconcomponent>
   </ion-nav-buttons>
  <ion-content has-bouncing="true" style="background: #f1f1f1;" class="centralized" >
  	  <ion-scroll  style="height:100%;"  has-bouncing="true" >
         		  <ion-refresher
				    pulling-text="Puxe para atualizar!"
				    pulling-icon="ion-arrow-down-c"
				    spinner="android"
				    on-refresh="fetch(true);">
				  </ion-refresher>
        <div class="slideUp1" >
			<div ng-if="errorMessage">
		  		<div class="boldCondensed" style="font-size: 16px; background: #FE5959;width: 100%;right:0px;">
    				 <md-list-item class="md-3-line">
	           			<div class="md-avatar" style="background: white;">
							  	<i class="icon ion-wifi"  style="font-size:25px;position: relative;top: 7px;left: 9px;color:#FE5959"></i>
				        </div>
				        <div class="md-list-item-text">
                             <h3 class="row noPM" style="line-height: initial;margin: 0px" >
                             		<div class="boldCondensed" style="width: 85%;line-height: initial;">
                             			{{errorMessage.title}}
                             		</div>
                         	  </h3>
                         	  <h3 class="row noPM" style="line-height: initial;margin: 0px" >
                       	  	<p style="line-height: initial;margin: 0px">
							 	{{errorMessage.description}}
						 	</p>
						  </h3>
                         	  <h3 class="row noPM" style="line-height: initial;margin: 0px" >
                        	  	<p style="color:white;" style="line-height: initial;margin: 0px">
							 	Ultima atualização: <span class="boldCondensed">{{errorMessage.lastUpdateDate | date:'dd/MM/yyyy HH:mm:ss'}}</span>
					 		</p>
						  </h3>
						  </div>
					  </md-list-item>
	    		</div>
	 		</div>
	 		<div ng-if="dto.data == null && isFetching == false" style="margin-top: 30%;margin-bottom: 20%;text-align: center;">
				<div class="ion-clipboard" style="font-size: 100px;"></div>
				<div style="font-size: 20px;">Nenhuma falta!</div>
			  </div>
     <div class="list" style="max-width:400px;padding: 20px 15px;" >
	  	<div ng-repeat="falta in dto.data" ng-model="dto" >
	  		<div class="card backgroundInstitution2 padding" style="font-size: 20px;margin: 1px;color:rgb(11, 101, 102) !important;">
			  		{{falta.cadeira.nome}}
	  		</div>
		  	<div class="card padding" style="height: 90px;margin: 1px 1px 15px 1px;" >
			  	<div class="row noPM">
				  	<div style="width:55%;">
				  		<div style="font-size: 14px;">
					  		 <div class="row noPM">
				                <div style="width: 85%;">Professor</div>
				                <div style="width: 15%;">{{falta.telaFaltas.length}}</div>
				            </div>
					  		 <div class="row noPM">
					  		 	<div style="width: 85%;">Controle Pessoal</div>
				                <div style="width: 15%;">{{falta.telaFaltasControlePessoal.length}}</div>
				            </div>
					  		 <div class="row noPM">
					  		 	<div style="width: 85%;">Limite</div>
				                <div style="width: 15%;">20</div>
				            </div>
				  		</div>
			  		</div>
			  		<div  style="width: 45%;">
				  		<div  style="white-space: nowrap;" >
					  		<div style="width: 10px;">
					  			<md-button type="submit" ng-click="addFalta(falta.cadeira.id)"  class="md-raised button-block" style="background: rgb(52, 127, 127);height:50px;min-width: 44px;color:white;font-size:20px;">+</md-button>
					  			<md-button type="submit" ng-click="subFalta(falta.cadeira.id)" ng-disabled="falta.telaFaltasControlePessoal.length == 0" class="md-raised button-block" style="min-width: 44px;background: rgb(250, 16, 16);height:50px;margin-left:10px;color:white;font-size:20px">-</md-button>
					  		 </div>
				  		</div>
			  		</div>
			  	</div>
	  		</div>
  		</div>
	</div>
	<br/>
	<br/>
	</div>
	</ion-scroll>
  	</ion-content>
</ion-view>
