<ion-view title="Horários" style="background: #1F1E1E;"  >
	<ion-nav-buttons side="right" > 
		<button id="notificationPopover" ng-click="popover.show($event)"  class="button  button-icon button-clear noPM" ng-controller="UnsawNotficiationsPopoverCtrl" >
			<span ng-style="{color : unsawNotficiations.length > 0 ? 'white' : 'rgb(15, 71, 66)'}" class="ion-android-globe" style="font-size: 34px;position: relative;left: -12px;">
				<span ng-if="unsawNotficiations.length > 0"  class="badge badge-assertive" style="left: 16px;top: -2px;font-size: 12px;position: absolute;">{{unsawNotficiations.length}}</span>
			</span>
		</button>
	</ion-nav-buttons>
	<ion-content style="background: rgb(241, 241, 241);" scroll="false" >
		<iframe style="width: 100%;height: 100%;" class="noPM" src="http://trigaportal-trigaserver.rhcloud.com/about.faces"></iframe>
	</ion-content>
</ion-view>
